---
layout: default
title: Home
---
<h3>New here?</h3>
<details>
  <summary>What is peer production and why is there a need for a webdesign guide specifically for this?</summary>
  <p> Peer production is a way of online distributed knowledge production that relies on the collective intelligence of 
    self-organizing groups of individuals, without or with less rigid hierarchical control and management (Benkler et al., 2015). 
    This mode of knowledge production is most commonly known from projects like Wikipedia or Open Source Software. 
  Because contributors self-organize in peer production, online environments that are tailored to the task and that 
    facilitate collaboration and coordination can have an important impact on the success of the project. 
  Developing a website (or deciding on an existing tool, like wikis or GitHub) that works best for your peer production project
  can seem quite complicated in the beginning. This website aims to give some guidance for those just starting out with online collaboration projects,
  but also those interested the features other projects use to facilitate peer production.
  In conclusion, this resource is thought to provide guidance, inspire and share great features and mechanisms other peer production projects developed! :)</p>
</details>

<details>
  <summary>How to use this website?</summary>
  <p> Right below these introductory questions, you find a section giving a structured introduction to elements of peer production platforms.
  For each element, there is a list of blog posts that use the respective tag. These blog posts contain information on features of peer production
    projects that implement these elements. You can also search directly for tags or other keywords, if you know what you are looking for. The guide to
  peer production, as well as the exemplary features are thought to help you understand and implement peer production elements to your own online collaboration
  projects. </p>
</details>

<details>
  <summary>Who are you and why did you create this website?</summary>
  <p> See [About](https://peer-produced.science/best-practices/about) </p>
</details>

<details>
  <summary>Can I contribute to this website or reuse its content or code?</summary>
  <p> See [Get Involved](https://peer-produced.science/best-practices/get-involved) </p>
</details>

<br>

<h3>Guide to peer production elements for websites</h3>
<details>
  <summary><b>Knowledge production flow</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Stigmergic basic structure</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Equipotential self-selection</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Range of tasks</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Granularity & modularity</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Communal quality control</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Transparency</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Learning features</b></summary>
  <p> tbd </p>
</details>

<details>
  <summary><b>Social features</b></summary>
  <p> tbd </p>
</details>

<!-- Categories Jumbotron
================================================== -->
<div class="section-title mt-4">
        <h2><span>Tags</span></h2>
    </div>
	<div class="jumbotron fortags">
	<div class="d-md-flex h-100">
		<div class="col-md-12 p-5 align-self-center text-center">
            {% assign categories_list = site.categories %}
            {% if categories_list.first[0] == null %}
                {% for category in categories_list %}
                    <a class="mt-1 mb-1" href="{{site.baseurl}}/categories#{{ category | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})</a>
                {% endfor %}
            {% else %}
                {% for category in categories_list %}
                    <a class="mt-1 mb-1" href="{{site.baseurl}}/categories#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})</a>
                {% endfor %}
            {% endif %}
            {% assign categories_list = nil %}
		</div>
	</div>
</div>
	
<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Categories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>
